<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>

<a href="/inlineLinkUpdates/"><h1 data-text="Inline Link Updates" class="dashed-shadow">Inline Link Updates</h1></a>


<div id="contents">
    <ul>
        <li><a href="#search">Search Inline Links</a></li>
        <li><a href="#add">Add an Inline Link</a></li>
    </ul>

    <div id="search">
        <h2 class="search">Search for Inline Links</h2>
        <form action="#" th:action="@{/inlineLinkUpdates/search}" th:object="${page}" method="post">
            <input th:field="*{pagination.currentPage}" id="currentPage" type="hidden"/>
            <div class="site">
                <label th:for="${#ids.next('searchCriteria.site')}">Site:</label>
                <select th:field="*{searchCriteria.site}" class="ui-corner-all">
                    <option th:each="site : ${distinctSites}"
                            th:value="${site}"
                            th:text="${site}"></option>
                </select>
            </div>

            <div class="topicId">
                <label th:for="${#ids.next('searchCriteria.topicId')}">Topic ID:</label>
                <input th:field="*{searchCriteria.topicId}" class="ui-corner-all" type="text"/>
            </div>

            <div class="topicName">
                <label th:for="${#ids.next('searchCriteria.topicName')}">Topic Name:</label>
                <input th:field="*{searchCriteria.topicName}" class="ui-corner-all" type="text" />
            </div>

            <div class="topicUrl">
                <label th:for="${#ids.next('searchCriteria.topicUrl')}">Topic URL:</label>
                <input th:field="*{searchCriteria.topicUrl}" class="ui-corner-all" type="text" />
            </div>

            <div class="buttons">
                <input type="button" value="Clear All" class="clearAll ui-corner-all" role="button" />
                <input type="submit" value="Search" class="ui-corner-all" role="button" />
            </div>


            <div id="results" th:unless="${#lists.isEmpty(results)}">

                <h2 class="searchResults">Results</h2>
                <header>
                    <div class="resultsPerPage">
                        <label th:for="${#ids.next('pagination.numberPerPage')}">Results per page:</label>
                        <select th:field="*{pagination.numberPerPage}" class="resultsPerPage ui-corner-all">
                            <option th:each="choice : ${numberPerPageChoices}"
                                    th:value="${choice.value}"
                                    th:text="${choice.text}"></option>
                        </select>
                    </div>
                    <div class="showing">
                        Showing <span th:text="${{page.pagination.startRow}}"></span>
                        -
                        <span th:text="${{page.pagination.endRow}}"></span>
                        of
                        <span th:text="${{page.pagination.totalResults}}"></span>
                    </div>
                    <div class="pagination">
                    </div>
                </header>

                <table cellpadding="0" cellspacing="0" border="0" class="ui-corner-all">
                    <tr>
                        <th class="topicId">Topic ID</th>
                        <th class="topicName">Topic Name</th>
                        <th class="topicUrl">Topic URL</th>
                        <th class="priority">Priority</th>
                        <th class="actions">Actions</th>
                    </tr>
                    <tr th:each="result : ${results}" th:id="${result.topicId}">
                        <td class="topicId" th:text="${{result.topicId}}"></td>
                        <td class="topicName" th:text="${{result.topicName}}"></td>
                        <td class="topicUrl"><span th:text="${{result.topicUrl}}"></span></td>
                        <td class="priority" th:text="${{result.priority}}"></td>
                        <td class="actions">
                            <a th:href="'/inlineLinkUpdates/edit/' + ${result.topicId}"
                               class="ui-button ui-corner-all editInlineLink"
                               role="button">Edit</a>
                            <a th:href="'/inlineLinkUpdates/delete/' + ${result.topicId}"
                               th:attr="data-topicName=${result.topicName}"
                               class="ui-button ui-corner-all deleteInlineLink"
                               role="button">Delete</a>
                        </td>
                    </tr>
                </table>

                <footer>
                    <div class="resultsPerPage">
                        <label th:for="${#ids.next('pagination.numberPerPage')}">Results per page:</label>
                        <select th:field="*{pagination.numberPerPage}" class="resultsPerPage ui-corner-all">
                            <option th:each="choice : ${numberPerPageChoices}"
                                    th:value="${choice.value}"
                                    th:text="${choice.text}"></option>
                        </select>
                    </div>
                    <div class="showing">
                        Showing <span th:text="${{page.pagination.startRow}}"></span>
                        -
                        <span th:text="${{page.pagination.endRow}}"></span>
                        of
                        <span th:text="${{page.pagination.totalResults}}"></span>
                    </div>
                    <div class="pagination">
                    </div>
                </footer>
            </div>

        </form>
    </div>






    <!-- ADD -->
    <div id="add">
        <h2 class="add">Add an Inline Link</h2>

        <form action="#" th:action="@{/inlineLinkUpdates/add}" th:object="${newInlineLink}" method="post">

            <ul th:if="${#fields.hasAnyErrors()}" class="errors">
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}">Input is incorrect</li>
            </ul>

            <div class="site">
                <label th:for="${#ids.next('site')}">Site:</label>
                <select th:field="*{site}" class="ui-corner-all">
                    <option th:each="site : ${sitesForNewInlineLink}"
                            th:value="${site.value}"
                            th:text="${site.text}"></option>
                </select>
            </div>

            <div class="topicName">
                <label th:for="${#ids.next('topicName')}">Topic Name:</label>
                <input th:field="*{topicName}" class="ui-corner-all" type="text" />
            </div>

            <div class="topicUrl">
                <label th:for="${#ids.next('topicUrl')}">Topic URL:</label>
                <input th:field="*{topicUrl}" class="ui-corner-all" type="text" />
            </div>

            <div class="priority">
                <label th:for="${#ids.next('priority')}">Priority:</label>
                <input th:field="*{priority}" class="ui-corner-all" type="text" />
            </div>

            <div class="buttons">
                <input type="button" value="Clear All" class="clearAll ui-corner-all" role="button" />
                <input type="submit" value="Submit" class="ui-corner-all" role="button" />
            </div>

        </form>

    </div>
</div><!--/content-->

<div id="deleteConfirmationDialog" title="Delete Confirmation" class="hide">
    <p>Are you sure you wish to delete the inline link with topic name <b id="deleteTopicName"></b>?</p>
</div>

<div id="editInlineLinkDialog" title="Edit Inline Link" class="hide">
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer :: pagination(${page.pagination.totalResults}
                                        , ${page.pagination.currentPage}
                                        , ${page.pagination.numberPerPage})"></div>

<script th:inline="javascript" type="text/javascript">
    // <![CDATA[
    $( function() {
        var isAdd = /*[[${isAdd}]]*/ false;

        var active = isAdd ? 1 : 0;

        $( "#contents" ).tabs({active: active});
    });
    // ]]>
</script>

<script src="http://10.196.100.94:3000/socket.io/socket.io.js"></script>
<script src="http://10.196.100.94:3001/browser-sync-client.min.js"></script>

</body>
</html>